[workspace]
resolver = "3"
members = ["muffy"]

[workspace.package]
version = "0.2.3"
edition = "2024"
readme = "README.md"
repository = "https://github.com/raviqqe/muffy"
license = "MIT"
keywords = ["web"]
categories = ["command-line-utilities", "development-tools"]

[workspace.lints.clippy]
alloc_instead_of_core = "deny"
cargo = "deny"
complexity = "deny"
correctness = "deny"
dbg_macro = "deny"
derive_partial_eq_without_eq = "deny"
equatable_if_let = "deny"
explicit_deref_methods = "deny"
if_not_else = "deny"
manual_let_else = "deny"
missing_const_for_fn = "deny"
missing_panics_doc = "deny"
multiple_crate_versions = { level = "allow", priority = 1 }
perf = "deny"
std_instead_of_alloc = "deny"
std_instead_of_core = "deny"
style = "deny"
suspicious = "deny"
todo = "deny"
undocumented_unsafe_blocks = "deny"
unimplemented = "deny"
uninlined_format_args = "deny"
unnecessary_safety_comment = "deny"
unused_self = "deny"
use_self = "deny"

[workspace.lints.rust]
missing_docs = "deny"
warnings = "deny"

[profile.release]
lto = true
panic = "abort"
codegen-units = 1
