[cache]
persistent = true

[sites.default]
roots = []
max_redirects = 8
schemes = ["https"]
statuses = [200]
timeout = "30s"

[sites.default.cache]
max_age = "5m"

[sites.default.retry]
count = 3
factor = 2

[sites.default.retry.duration]
initial = "500ms"
cap = "10s"

[sites.default.headers]
user-agent = "Muffy/0.2.0"

[sites.external]
extend = "default"

[sites.external.cache]
max_age = "1h"

[sites.main]
extend = "default"
roots = [
  "https://raviqqe.com/",
  "https://raviqqe.com/muffet",
  "https://raviqqe.com/muffy",
  "https://raviqqe.com/stak",
]
recurse = true

[sites.crates_io]
extend = "external"
roots = ["https://crates.io/"]
statuses = [200, 403, 404]

[sites.github]
extend = "external"
roots = ["https://github.com/"]
concurrency = 64

[sites.flaky]
extend = "external"
roots = ["https://gitlab.haskell.org/", "https://zsh.sourceforge.io/"]

[sites.flaky.retry]
count = 5

[sites.forbidden]
extend = "external"
roots = [
  "https://armoredcore.fandom.com/",
  "https://dragonquest.fandom.com/",
  "https://en.wikipedia.org/wiki/",
]
statuses = [200, 403]

[sites.ignored]
roots = [
  "https://aclanthology.org/",
  "https://goreportcard.com/",
  "https://www.gnu.org/software/guile/",
]
ignore = true
