concurrency = 64

[sites.default]
roots = []
max_redirects = 8
schemes = ["https"]
statuses = [200]
timeout = "30s"

[sites.default.retry]
count = 3
factor = 2

[sites.default.retry.duration]
initial = "1s"
maximum = "30s"

[sites.default.cache]
max_age = "1h"

[sites.default.headers]
user-agent = "Muffy/0.2.0"

[sites.main]
extend = "default"
roots = [
  "https://raviqqe.com/",
  "https://raviqqe.com/muffet",
  "https://raviqqe.com/muffy",
  "https://raviqqe.com/stak",
]
recurse = true

[sites.crates_io]
extend = "default"
roots = ["https://crates.io/"]
statuses = [200, 403, 404]

[sites.haskell]
extend = "default"
roots = ["https://gitlab.haskell.org/"]
# TODO Increase a backoff.
retries = 5

[sites.forbidden]
extend = "default"
roots = [
  "https://armoredcore.fandom.com/",
  "https://dragonquest.fandom.com/",
  "https://en.wikipedia.org/wiki/",
  "https://zsh.sourceforge.io/",
]
statuses = [200, 403]

[sites.ignored]
roots = [
  "https://aclanthology.org/",
  "https://goreportcard.com/",
  "https://www.gnu.org/software/guile/",
]
ignore = true
