concurrency = 64

[sites.default]
max_redirects = 8
schemes = ["http", "https"]
statuses = [200]
timeout = "30s"
retries = 3

[sites.default.cache]
max_age = "1h"

[sites.default.headers]
user-agent = "Muffy/0.2.0"

[sites.main]
roots = [
  "https://raviqqe.com/",
  "https://raviqqe.com/muffet",
  "https://raviqqe.com/muffy",
  "https://raviqqe.com/stak",
]
recurse = true

[sites.external]
roots = ["https://crates.io/"]
statuses = [403, 404]

[sites.ignored]
roots = ["https://aclanthology.org/", "https://www.gnu.org/software/guile/"]
ignore = true
