:root {
  --sl-color-accent-low: hsl(40, 54%, 20%);
  --sl-color-accent: hsl(40, 100%, 60%);
  --sl-color-accent-high: hsl(40, 100%, 85%);
}

:root[data-theme="light"] {
  --sl-color-accent-high: hsl(40, 80%, 20%);
  --sl-color-accent: hsl(40, 100%, 30%);
  --sl-color-accent-low: hsl(40, 88%, 90%);
}

.sl-markdown-content img {
  display: initial !important;
}
