name: document
on:
  push:
    branches:
      - main
  pull_request:
concurrency:
  group: document-${{ github.ref }}
  cancel-in-progress: true
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  rust_build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: raviqqe/cargo-cache@v1
      - run: cargo +nightly doc --all-features
  web_build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: doc
    steps:
      - uses: actions/checkout@v6
      - uses: actions/configure-pages@v5
      - uses: ./.github/actions/setup
      - run: node --run build
      - uses: actions/upload-pages-artifact@v4
        with:
          path: doc/dist
      - uses: actions/deploy-pages@v4
        if: github.ref == 'refs/heads/main'
  web_lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: doc
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: node --run lint
  web_test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: doc
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: node --run build -- --site http://localhost:4321
      - run: node --run preview &
      - run: >
          cargo run check-site
          --accept-status 200
          --accept-status 403
          --accept-status 429
          http://localhost:4321/muffy/
  document:
    needs:
      - web_build
      - web_lint
      - web_test
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: for result in ${{ join(needs.*.result, ' ') }}; do [ $result = success ]; done
