name: lint
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: raviqqe/cargo-cache@v1
      - run: cargo clippy -- -D warnings
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: cargo fmt -- --check
  unused_dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      # spell-checker: disable-next-line
      - uses: bnjbvr/cargo-machete@main
  spell_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: streetsidesoftware/cspell-action@v8
        with:
          files: "**/*.{md,rs}"
  readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: raviqqe/markdown-link-check@v1
  lint:
    needs:
      - clippy
      - format
      - spell_check
      - readme
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: for result in ${{ join(needs.*.result, ' ') }}; do [ $result = success ]; done
