name: test
on:
  push:
    branches:
      - main
  pull_request:
concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: raviqqe/cargo-cache@v1
      - run: cargo build
  unit_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - uses: raviqqe/cargo-cache@v1
      - run: cargo test
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - run: tools/coverage.sh
      - uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          files: lcov.info
  check_command_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: raviqqe/cargo-cache@v1
      - run: cargo run -- --verbose
  check_site_command_test:
    strategy:
      fail-fast: false
      matrix:
        arguments:
          - - --accept-status 200
            - --accept-status 403
            - --accept-status 999
            - --ignore https://aclanthology.org/
            - https://raviqqe.com
          - - --accept-status 200
            - --accept-status 403
            - --ignore https://codspeed.io/raviqqe/stak
            - --ignore https://r7rs.org/
            - --ignore https://www.gnu.org/software/guile/
            - --header accept:text/html,*/*
            - https://raviqqe.com/stak
          - - --accept-status 200
            - --accept-status 403
            - --ignore https://crates.io/crates/muffy
            - https://raviqqe.com/muffy
          - - --ignore https://goreportcard.com/
            - https://raviqqe.com/muffet
        cache:
          - false
          - true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: raviqqe/cargo-cache@v1
      - run: >
          cargo run -- check-site
          --header user-agent:Muffy/0.2.0
          --retry-count 5
          --verbose
          ${{ matrix.cache && '--cache' || '' }}
          ${{ join(matrix.arguments, ' ') }}
  docker_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: raviqqe/cargo-cache@v1
      - id: version
        run: tools/github/version.sh
      - uses: docker/build-push-action@v6
        with:
          tags: raviqqe/muffy:${{ steps.version.outputs.version }}
      - uses: ./.
        with:
          verbose: true
  test:
    needs:
      - build
      - unit_test
      - check_command_test
      - check_site_command_test
      - docker_test
      - coverage
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: for result in ${{ join(needs.*.result, ' ') }}; do [ $result = success ]; done
