name: test
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: raviqqe/cargo-cache@v1
      - run: cargo build
  unit_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: raviqqe/cargo-cache@v1
      - run: cargo test
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: tools/coverage.sh
      - uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          files: lcov.info
  command_test:
    strategy:
      fail-fast: false
      matrix:
        arguments:
          - - run
            - --config
            - examples/muffy.toml
          - - check
            - --accept-status 200
            - --accept-status 403
            - --accept-status 999
            - --exclude https://aclanthology.org/
            - https://raviqqe.com
          - - check
            - --accept-status 200
            - --accept-status 403
            - --accept-status 429
            - --exclude https://codspeed.io/raviqqe/stak
            - --exclude https://r7rs.org/
            - --exclude https://www.gnu.org/software/guile/
            - --header user-agent:Muffy/1.0.0
            - --header accept:text/html,*/*
            - https://raviqqe.com/stak
          - - check
            - --accept-status 200
            - --accept-status 403
            - https://raviqqe.com/muffy
          - - check
            - https://raviqqe.com/muffet
        cache_options:
          -
          - --cache
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: raviqqe/cargo-cache@v1
      - run: cargo run -- ${{ matrix.cache_options }} ${{ join(matrix.arguments, ' ') }}
        env:
          RUST_LOG: muffy=trace
  docker_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: raviqqe/cargo-cache@v1
      - id: version
        run: echo version=$(cargo run -- --version | grep -o '[0-9.]\+') >> ${{ github.output }}
      - uses: docker/build-push-action@v6
        with:
          tags: raviqqe/muffy:${{ steps.version.outputs.version }}
      - uses: ./.
        with:
          url: https://raviqqe.com/muffy
          accept-status: 200,403,429
  test:
    needs:
      - build
      - unit_test
      - command_test
      - docker_test
      - coverage
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: for result in ${{ join(needs.*.result, ' ') }}; do [ $result = success ]; done
